

        <!-- Sidebar -->
       
        <!-- /#sidebar-wrapper -->

<div class="container">

 <div class="nav-second">
 	<div class="col-md-12">
 	<div class="col-md-6">
					<table class="table-hover table-condensed">
					<tr class="title-header">
						<th><h3> Favorites Section </h3></th>
					</tr>
	  		<% @fav.each do |fave| %>
	  		<tr class="title-header">
	  		<h4><td><%= fave.song.title %></td></h4>
	  		<% if current_user %>
  			<h4><td><button><%= link_to "unfavorite", favorite_song_path(fave.song.id, type: "unfavorite"), method: :put %></button></td></h4>
			<% end %>
	  		<% end %>
	  	</tr>
	  </table>

	  		</div>

	  		<div class="col-md-6">
	  		<a href="/contact" target="_blank"><h4>Contact Us</h4></a>
	  	</div>
	  </div>
		<%if current_user.admin? %>
            <ul class="nav-dash">
                <li >
                    <%= link_to 'Add Song', new_song_path %>
                </li>
                <li >
                    <%= link_to "Add New Artist", new_artist_path %>
                </li>
            </ul>
			<% end %>

				<%if current_user.admin? %>
			<h4>Import Songs (only csv files)!</h4>
			<%= form_tag import_songs_path, mulitpart: true do %>
				<%= file_field_tag :file, accept: 'text/csv' %>
				<%= submit_tag "Import CSV" %>
			<% end %>
			<% end %>
			<% if flash[:error].present? %>

    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
    </div>
<% end %>

        </div>

        <div class="col-md-12 tags-cloud glassy-bg">
        	<div class="col-md-12 tags-cloud_a ">
  			<h4>Search By Tags</h4>
  			<% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    		<%= link_to tag.name, tag_path(tag.name), class: css_class %>
  			<% end %>
  		</div>
  			<hr>
  		<div class="col-md-12 ">	
  			<h4>Search Our Music Catalog</h4>
  			<%= form_tag songs_path, :method => "get" do %>
				<!-- 	<h4><select name="search_by" id="search-by">
						<option value="title">Title</option>
						<option value="artist">Artist</option>
					</select></h4><br> -->
				<%= text_field_tag :search, params[:search], class: "form-control"%><br>
				<%= submit_tag "Search", class: "btn" %>
	  		<% end %>
	  	</div>
			

	  		

	  		

  
			<div class="col-md-12 songlist-page">

			
			<% if @songs.present? %>
  				<%= render @songs.reverse %>
			<% else %>
  				<p class="hidden">There are no songs containing the term(s) <%= params[:search] %>.</p>
			<% end %>
		
			

			<div class="table-responsive">
				<table class="table-hover table-condensed">
					<tr class="title-header">
						<th><h3> Audio </h3></th>
						<th><h3> Title </h3></th>
						<th><h3> Artist </h3></th>
						<th><h3> Genre</h3></th>
						<th><h3> Catalogue</h3></th>
						<th><h3> Master </h3></th>
						<th><h3> Add To Favorites </h3></th>

						</tr>

						<% @songs.each do |song| %>
						<tr class="title-header">
						<td><audio controls="controls">
  				<source id="no-link" src="<%= song.audiourl %>" type="audio/ogg" />
  				<source id="no-link" src="<%= song.audiourl %>" type="audio/mpeg" />
  				<source id="no-link" src="<%= song.audiourl %>" type="audio/wav" />
				Your browser does not support the audio element.
				</audio></td>
						<td><%= link_to song.title, song_path(song) %></td>
						<td><%= song.artist %></td>
						<td><%= song.genre %></td>
						<td><%= song.catalogue %></td>
						<td><%= song.publishing %></td>
						<td><% if current_user %>
  <button><%= link_to "favorite",   favorite_song_path(song.id, type: "favorite"), method: :put %></button>
<% end %></td>

						<% end %>
					</tr>

				</table><br><br>
				
				<div class="digg_pagination">
    				<div class="page_info">
      					<%= page_entries_info @songs %>
    				</div>
					<div class="pagination_info">
    				<%= will_paginate @songs, :container => false %>
					</div>
  				</div>
		
			</div><!--end of table div -->
		</div><!--end of div -->
	</div> <!--end of glassy div -->
	<!--end of row -->
</div>




