<div class="container">

<div class="row">
<div class="table-responsive">
	 <div class="header-synch-home col-md-12">
		 <table class="table-hover table-condensed">
				<tr class="title-header">
			<th><h5> Audio </h5></th>
			<th><h5> Title </h5></th>
			<th><h5> Artist </h5></th>
			<th><h5> Writer </h5></th>
			<th><h5> Genre </h5></th>
			<th><h5> Tags </h5></th>
			
			<%if current_user.admin? %><th><h5> Publishing </h5></th><%end%>
			
			<th><h5> Add To Favorites </h5></th>
			</tr>

			<tr>
				
			<td class="audiocol"><audio controls="controls" class="audiocol">
  				<source id="no-link" src="<%= @song.audiourl %>" type="audio/ogg" />
  				<source id="no-link" src="<%= @song.audiourl %>" type="audio/mpeg" />
  				<source id="no-link" src="<%= @song.audiourl %>" type="audio/wav" />
				Your browser does not support the audio element.
				</audio></td>
				<td><%= @song.title %></td>
				<td><%= @song.artist %></td>
				<td><%= @song.writer %></td>
				<td><%= @song.genre %></td>
				<td><%= @song.all_tags%></td>
				<%if current_user.admin? %><td><%= @song.publishing %></td><%end%>
				<td><% if current_user %>
  			<button><%= link_to "favorite",   favorite_song_path(@song, type: "favorite"), method: :put %></button>
  				<button><%= link_to "unfavorite", favorite_song_path(@song, type: "unfavorite"), method: :put %>
				<% end %></td></button>
			</tr>
			
		</table>
	</div>
		<div class="col-md-9 col-md-offset-3">
				<%if current_user.admin? %>
					<button><%= link_to 'Update', edit_song_path(@song) %></button>

					<button><%= link_to 'Destroy', song_path(@song),
              method: :delete,
              data: { confirm: 'Are you sure? This cannot be undone!' } %></button>
				<% end %>

            		<button><%= link_to 'Back To Dashboard', songs_path %></button>
            	</div>
	 </div>
 </div>
</div>